.ember-application {
  margin: 0;
}

body {
  background-color: white;
  font-family: 'Nixie One', cursive;
  padding-top: 50px;
}

h2 {
  font-family: 'Nixie One', cursive;
}

.page-header {
  /*border-bottom: 1px solid #ccc;*/
  margin: 0px auto;
  padding-top: 9px;
  background-color: #f05a26;
  color: #fefefe;
}

.ticket-details {
  background-color: white;
  height: 100%;
  padding-bottom: 50px;
}

.btn-danger {
  background-color: #f05a26;
}

.home {
  text-decoration: none;
  color: #eee;
  cursor: pointer;
}

.home:hover {
  text-decoration: none;
  color: #eee;
  cursor: pointer;
}

#student-name {
  width: 100%;
}

.queue li {
  padding: 30px 20px;
  border-left: 0px;
  border-right: 0px;
}

.time-ago {
  font-size: 80%;
}

#new-ticket-form, #question, #queued {
  margin-top: 40px;
}

.student-name {
  font-size: 150%;
}

.well {
  margin-bottom: 10px;
}

.question {
  font-family: "Courier New", monospace;
  margin-top: 20px;
  height: 200px;
  overflow-y: auto;
}

#statistics {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
}

.sub-heading {
  margin-bottom: 20px;
}

.left-cell {
  border-right: 1px solid #ccc;
}

.large-text {
  font-size: 300%;
}

.small-text {
  font-size: 80%;
}

.hourly-tickets-graph {
  height: 200px;
  margin: 20px;
}

.expanding-tray {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
          transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.expanded {
  max-height: 275px;
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
}

.elipse {
  -webkit-transition: all 200ms ease;
}

.rotate {
  -webkit-transform: rotate(90deg);
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .page-header {
    padding-top: 29px;
  }

  body {
    padding-top: 70px;
  }
}
