<ul class="list-group queue">
  {{#each ticket in openTickets}}
    {{ticket-component ticket=ticket queueController=controller}}
  {{/each}}
</ul>

<p class="text-center text-muted">{{#link-to 'statistics'}}View today's statistics{{/link-to}}</p>
