<div class="ticket-details">
  <div class="container">
    <h3>{{model.student}}</h3>

    <div class="well question">
      {{model.question}}
    </div>
    {{#link-to 'queue.index'}}Back{{/link-to}}

    <button class="btn btn-danger pull-right" {{action 'closeTicket'}}>close</button>
  </div>
</div>
