<h2 class="text-center page-header navbar-fixed-top">
  <div {{action 'goBack'}} class="col-xs-2">
    <!-- future back button goes here -->
  </div>
  <div class="col-xs-8">
    Queue
  </div>
</h2>

{{outlet}}
