<div id="question" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
  <p class="lead">{{model}}</p>
  <button class="btn btn-danger" {{action 'nextQuestion'}}>Yes >></button>
</div>
