<ul class="list-group queue">
  {{#each ticket in tickets}}
    {{ticket-component ticket=ticket}}
  {{/each}}
</ul>
<p class="text-center text-muted">{{#link-to 'statistics'}}View today's statistics{{/link-to}}</p>
