<li class="list-group-item">
  <div>
    <button class="btn btn-danger btn-sm pull-right" {{action "closeTicket" this}}>close</button>
    <span class="student-name">{{student}}</span><br>
    <span class="time-ago text-muted">{{timeAgo}}</span>
    {{#if isExpanded}}
      <div class="well question">
        <p>{{question}}</p>
      </div>
    {{/if}}
  </div>
</li>
